<%- include('partials/head') %>

<h2 style="line-height:normal;"><img src="https://e.mospolytech.ru/old/img/projects.png" width="32" height="32"
    align="absbottom"> Трудоустройство и <span>практика</span></h2>
<hr>

<div class="top-bubble">
  <a href="">Карьерная среда «Факультетус» - твое электронное портфолио</a>
</div>

<div class="faculties">
  <div class="middle-bubble">
    <a href="">Вакансии для всех</a>
  </div>
  <div class="middle-bubble">
    <ul class="social-list">
      <li><a href="">Подписывайтесь на нашу группу ВКонтакте</a></li>
      <li><a href="">Подписывайтесь на наш Telegram канал</a></li>
    </ul>
    <p class="social-p">Там много всего интересного!</p>
  </div>
</div>

<div class="faculties">
  <div class="faculty" id="1">
    <h3>Факультет информационных технологий</h3>
    <ul>
      <li><a href="/jobs">Вакансии</a></li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="2">
    <h3>Транспортный факультет</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="3">
    <h3>Факультет машиностроения</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="4">
    <h3>Факультет химической технологии и биотехнологии</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="5">
    <h3>Факультет экономики и управления</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="6">
    <h3>Факультет урбанистики и городского хозяйства</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="7">
    <h3>Центр занятости населения</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>

  <div class="faculty" id="8">
    <h3>Центр «Моя карьера»</h3>
    <ul>
      <li>Вакансии</li>
      <li>Практика</li>
      <li>Работодатели</li>
    </ul>
  </div>
</div>

<%- include('partials/bottom') %>