<%- include('partials/head') %>

<a href="/" class="back">&#8592; Назад</a>

<h2><img src="https://e.mospolytech.ru/old/img/projects.png" width="32" height="32"
        align="absbottom"> Вакансии <span>"Факультет Информационных Технологий"</span></h2>
<hr>

<div class="jobs">
    <div class="job" id="1">
        <img class="logo" src="https://hhcdn.ru/employer-logo/967485.jpeg">
        <h3>Менеджер по продажам/ менеджер корпоративных продаж в банк</h3>
        <p class="salary">от 90000 руб.</p>
        <p class="company"><a href="/company">АО Citibank</a></p>
        <p class="place">Москва, Калужская</p>

        <p class="description">Работа в офисе презентации продуктов на территории клиентов(корпоративные продукты).
            Работать с существующей базой, а также привлекать новых клиентов.
            Образованием: высшим. Опытом работы в сфере продаж в любой отрасли от года. Английский язык не ниже уровня
            Intermediate.</p>

        <a href="https://hh.ru/analytics_source/vacancy/51998887" class="button">Откликнуться</a>
    </div>

    <div class="job" id="2">
        <h3>Менеджер по продажам/ менеджер корпоративных продаж в банк</h3>
        <p class="salary">от 90000 руб.</p>
        <p class="company">АО Citibank</p>
        <p class="place">Москва, Калужская</p>

        <p class="description">Работа в офисе презентации продуктов на территории клиентов(корпоративные продукты).
            Работать с существующей базой, а также привлекать новых клиентов.
            Образованием: высшим. Опытом работы в сфере продаж в любой отрасли от года. Английский язык не ниже уровня
            Intermediate.</p>

        <a href="https://hh.ru/analytics_source/vacancy/51998887" class="button">Откликнуться</a>
    </div>

    <div class="job" id="3">
        <h3>Менеджер по продажам/ менеджер корпоративных продаж в банк</h3>
        <p class="salary">от 90000 руб.</p>
        <p class="company">АО Citibank</p>
        <p class="place">Москва, Калужская</p>

        <p class="description">Работа в офисе презентации продуктов на территории клиентов(корпоративные продукты).
            Работать с существующей базой, а также привлекать новых клиентов.
            Образованием: высшим. Опытом работы в сфере продаж в любой отрасли от года. Английский язык не ниже уровня
            Intermediate.</p>

        <a href="https://hh.ru/analytics_source/vacancy/51998887" class="button">Откликнуться</a>
    </div>

    <div class="job" id="4">
        <h3>Менеджер по продажам/ менеджер корпоративных продаж в банк</h3>
        <p class="salary">от 90000 руб.</p>
        <p class="company">АО Citibank</p>
        <p class="place">Москва, Калужская</p>

        <p class="description">Работа в офисе презентации продуктов на территории клиентов(корпоративные продукты).
            Работать с существующей базой, а также привлекать новых клиентов.
            Образованием: высшим. Опытом работы в сфере продаж в любой отрасли от года. Английский язык не ниже уровня
            Intermediate.</p>

        <a href="https://hh.ru/analytics_source/vacancy/51998887" class="button">Откликнуться</a>
    </div>
</div>

<%- include('partials/bottom') %>