</div>
</div>
</div>
<!-- footer -->
<footer>
<div class="container">
  <div class="inside">
    <div class="wrapper">
      <!-- div class="fleft">24/7 Customer Service <span>8.800.146.56.7</span></div -->
      <div class="aligncenter">© <a class="new_window" href="https://mospolytech.ru/" target="_blank">Московский
          политехнический университет</a> - 2022<br></div>
    </div>
  </div>
</div>
</footer>
<script type="text/javascript">
dhtmlx.message.position = "bottom";
dhtmlx.message({
  text: "<a href='?p=messages' style='color:#FFF; font-size:15px;'>Есть новые сообщения (<b>24</b>)!</a>"
});
document.getElementById('nmsg').innerHTML = "<a href='?p=messages'>Личные сообщения (24)</a>";
</script>
<div class="dhtmlx_message_area" style="bottom: 5px;"></div>
<a class="scrollTop" href="#header" style="display:none;"></a>
<!-- script type="text/javascript"> Cufon.now(); </script -->





<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (m, e, t, r, i, k, a) {
  m[i] = m[i] || function () {
    (m[i].a = m[i].a || []).push(arguments)
  };
  m[i].l = 1 * new Date();
  k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k,
    a)
})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(62016754, "init", {
  clickmap: true,
  trackLinks: true,
  accurateTrackBounce: true
});
</script>
<noscript>
<div><img src="https://mc.yandex.ru/watch/62016754" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->


<div class="highslide-container"
style="padding: 0px; border: none; margin: 0px; position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1001; direction: ltr;">
<a class="highslide-loading" title="Нажмите для отмены" href="javascript:;"
  style="position: absolute; top: -9999px; opacity: 0.75; z-index: 1;">Загрузка...</a>
<div style="display: none;"></div>
<table cellspacing="0"
  style="padding: 0px; border: none; margin: 0px; visibility: hidden; position: absolute; border-collapse: collapse; width: 0px;">
  <tbody style="padding: 0px; border: none; margin: 0px;">
    <tr style="padding: 0px; border: none; margin: 0px; height: auto;">
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) 0px 0px; height: 20px; width: 20px;">
      </td>
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) 0px -40px; height: 20px; width: 20px;">
      </td>
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) -20px 0px; height: 20px; width: 20px;">
      </td>
    </tr>
    <tr style="padding: 0px; border: none; margin: 0px; height: auto;">
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) 0px -80px; height: 20px; width: 20px;">
      </td>
      <td class="drop-shadow highslide-outline"
        style="padding: 0px; border: none; margin: 0px; position: relative;"></td>
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) -20px -80px; height: 20px; width: 20px;">
      </td>
    </tr>
    <tr style="padding: 0px; border: none; margin: 0px; height: auto;">
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) 0px -20px; height: 20px; width: 20px;">
      </td>
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) 0px -60px; height: 20px; width: 20px;">
      </td>
      <td
        style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;https://e.mospolytech.ru/old/highslide/graphics/outlines/drop-shadow.png&quot;) -20px -20px; height: 20px; width: 20px;">
      </td>
    </tr>
  </tbody>
</table><img src="highslide/graphics/outlines/drop-shadow.png"
  style="padding: 0px; border: none; margin: 0px; position: absolute; top: -9999px;">
</div>
</body>

</html>